.news-previews-short {
	$space-v: 2.2rem;

	overflow: hidden;

	&__list {
		margin-bottom: -#{$space-v};
	}

	&__item {
		padding-bottom: 1.5rem;
		margin-bottom: #{$space-v};
		border-bottom: 1px solid #c4c4c4;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
