.form-select-inline {
	$el: &;
	$select-arrow-width: 2rem;

	// Селект, который будет кастомизироваться, необходимо скрыть, пока на нем не отработает скрипт
	html:not(.no-js) & {
		opacity: 0;
		height: 4rem;
	}

	// Select selection
	// ====================================================
	&__selection {

		// SINGLE & MULTIPLE
		// ====================================================
		// .select2-selection - это "поле выбора" селекта
		&.select2-selection {
			display: block;
			position: relative;
			height: auto;
			width: auto;
			padding: 0 #{$select-arrow-width} 0 0;
			margin: 0;
			background: none;
			box-shadow: none;
			border-radius: 0;
			border: none;
			font: inherit;
			color: inherit;
			transition: color $animation-speed;

			// ------ mob -----------------------------------------
			// Set style for mobile

			// .select2-selection__rendered лежит внутри .select2-selection
			// Служит для обрезания текста и добавления троеточия
			// Непосредственно в этом элементе лежит текст текущего опшина
			.select2-selection__rendered {
				display: block;
				padding: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: inherit;
				line-height: inherit;
			}

			// Placeholder
			.select2-selection__placeholder {
				color: $form-def-placeholder-color;
			}

			// Clear button
			.select2-selection__clear {
				cursor: pointer;
				float: right;
				font-weight: normal;
			}
		}

		// Arrow
		// ----------------------------------------------------
		.select2-selection__arrow {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: $select-arrow-width;
			height: auto;
			background: none;
			z-index: 5;

			// ------ mob -----------------------------------------
			// Set style for mobile

			b {
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				width: 9px;
				height: 5px;
				margin: -2px 0;
				border: none;

				.select2-container--open & {
					transform: rotate(0.5turn);
				}

				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					width: 6px;
					height: 1px;
					background-color: $text-color;
					margin-top: -1px;
					z-index: 1;
				}

				&::before {
					transform: rotate(45deg);
					right: 3px;
				}

				&::after {
					transform: rotate(-45deg);
					right: 0;
				}
			}
		}

		// STATES
		// ====================================================
		// Hover
		&:hover {
			border-color: $form-def-border-color--focus;
		}

		// Focus
		.select2-container--focus &,
		.select2-container--open & {
			border-color: $form-def-border-color--focus;
		}

		// Disabled
		.select2-container--disabled & {
			@include forms-disabled;

			.select2-selection__choice {
				pointer-events: none;

				@include forms-disabled;
			}

			// Arrow disabled
			.select2-selection__arrow {
				b {
					&::before,
					&::after {
						background-color: $form-text-color--disabled;
					}
				}
			}
		}
	}

	// Select dropdown
	// ====================================================
	&__dropdown {
		// Общие стили для выпадающего списка селекта
		&.select2-dropdown {
			overflow: hidden; // Если есть закругления, то нужно обрезать внутренние элементы
			max-width: 20rem;
			border: 0.1rem solid $form-def-border-color;
			border-radius: 0;
			background-color: $form-def-bg-color;
			z-index: 5; // Поднять выше стрелок соседних селектов

			// ------ mob -----------------------------------------
			// Set style for mobile
		}

		.select2-container--open & {
			// Специальные стили для выпадающего меню
			// при открытии ВЫШЕ поля выбора
			&.select2-container--above {
				.select2-selection {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}

			// Специальные стили для выпадающего меню
			// при открытии НИЖЕ поля выбора
			&.select2-container--below {
				.select2-selection {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			// Arrow active
			&.select2-selection__arrow {
				b {
					&::before {
						transform: rotate(-45deg);
					}

					&::after {
						transform: rotate(45deg);
					}
				}
			}

			// Специальные стили для выпадающего меню
			// при открытии ВЫШЕ поля выбора
			&.select2-dropdown--above {
				margin-bottom: 0.5rem;
				border-top: 0.1rem solid $form-def-border-color;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			// Специальные стили для выпадающего меню
			// при открытии НИЖЕ поля выбора
			&.select2-dropdown--below {
				margin-top: 0.5rem;
				border-bottom: 0.1rem solid $form-def-border-color;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		// SEARCH
		// ====================================================
		// Контейнер поля ввода автокомплита
		.select2-search--dropdown {
			padding: 0.5rem;

			// Поле ввода <input>
			.select2-search__field {
				padding: 0.5rem;
				border: 0.1rem solid $form-def-border-color;

				&:focus {
					border-color: $form-def-border-color--focus;
				}
			}
		}

		// RESULTS
		// ====================================================
		// Контейнер опшинов в выпадающем меню,
		// или результатов автокоплита
		.select2-results {
			// Непосредственно список <ul> опшинов
			& > .select2-results__options {
				max-height: 20rem;
				overflow-y: auto;
				font-family: inherit;
				font-size: 1.2rem;
				line-height: 2rem;
				color: $form-def-text-color;

				// ------ mob -----------------------------------------
				// Set style for mobile
			}
		}

		// Опшин
		.select2-results__option {
			padding: 0.5rem 0.8rem;

			// ------ mob -----------------------------------------
			// Set style for mobile

			&[role=group] {
				padding: 0;
			}

			// Disabled
			&[aria-disabled=true] {
				background-color: $form-bg-color--disabled;
				color: $form-text-color--disabled;
			}

			// Active
			&[aria-selected=true] {
				background-color: #ddd;
			}

			.select2-results__option {
				// Группы опшинов
				// См. src/libs/select2/src/scss/theme/default/layout.scss
			}
		}

		// Hover
		.select2-results__option--highlighted[aria-selected] {
			background-color: $highlight-color--hover;
			color: white;
		}

		// Group options
		.select2-results__group {
			cursor: default;
			display: block;
			padding: 0.5rem;
		}
	}
}
