.product-card-quantity {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	line-height: 1.8rem;
	padding-bottom: 1.1rem;

	@include below($lg) {
		display: inline-flex;
	}

	@include below($sm) {
		padding-bottom: 0;
	}

	&__title {
		font-weight: 300;
		margin-right: 1.5rem;
	}

	&__spinner {
		line-height: 1.6rem;
		margin-left: auto;
	}
}
