.product-card-quantity {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	line-height: 1.8rem;

	&_bottom-space {
		padding-bottom: 1.1rem;
	}

	&__title {
		font-weight: 300;
		margin-right: 0.5rem;
	}

	&__spinner {
		line-height: 1.6rem;
		margin-left: auto;
	}
}
