.pagination {
	$pagination-font-size: 1.6rem;
	$pagination-border-width: 0;

	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color: $title-color-alt;
	user-select: none;
	cursor: default;
	z-index: 5;

	&__layout {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__left,
	&__right {
		font-size: $pagination-font-size;
		line-height: 3.4rem;
	}

	&__left {
		margin-left: -0.5rem;
	}

	&__right {
		margin-right: -0.5rem;
	}

	&__prev,
	&__first,
	&__next,
	&__last {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 0 0.2rem;
		color: inherit;
		text-align: center;
		background: transparent;
		height: 3.4rem;
		min-width: 2rem;
		text-decoration: none;
		transition: color $animation-speed;
		user-select: none;
		-webkit-tap-highlight-color: transparent;

		@include below($sm) {
			height: 3rem;
			min-width: 3rem;
		}

		&:hover {
			color: $link-color;
		}

		&.disabled {
			opacity: 0.5;
			color: inherit;
			cursor: default;
			pointer-events: none;
		}

		&-text {
			@include hide-text;
		}

		&-arr {
			position: absolute;
			left: 50%;
			top: 50%;

			$size: 1.6rem;

			height: $size;
			width: $size;
			margin: -#{$size / 2};
			font-size: 0;
			line-height: 0;

			svg {
				display: block;
				height: 100%;
				width: 100%;
			}

			path {
				fill: currentColor;
			}
		}
	}

	&__pages {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;

		&-li {
			$li: &;

			font-size: $pagination-font-size;
			line-height: 3.4rem;
			font-weight: bold;

			&-el {
				$el: &;
				$width: 3.4rem;

				position: relative;
				display: inline-block;
				vertical-align: top;
				padding: 0 0.2rem;
				color: inherit;
				text-align: center;
				background: transparent;
				height: $width;
				min-width: $width;
				user-select: none;
				-webkit-tap-highlight-color: transparent;

				@include below($lg) {
					$width: 3rem;

					height: $width;
					min-width: $width;
				}

				@at-root {
					a#{$el} {
						text-decoration: none;
						cursor: pointer;
						transition: color $animation-speed;
						user-select: none;
						-webkit-tap-highlight-color: transparent;

						&:hover {
							color: $link-color;
						}
					}
				}

				@at-root {
					#{$li}.current & {
						color: $highlight-color;
					}
				}
			}

			&-dots {
				position: relative;
				display: inline-block;
				vertical-align: top;
				padding: 0 0.2rem;
				color: inherit;
				text-align: center;
				background: transparent;
				height: 3.4rem;
				min-width: 3.4rem;

				@include below($lg) {
					height: 3rem;
					min-width: 3rem;
				}
			}
		}
	}
}
