.payment {
	&__title {
		font-size: 1.7rem;
		line-height: 2.4rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	&__methods {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
