.slider-images {
	position: relative;

	html:not(.no-js) &:not(.is-loaded) {
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}

	&__slide {
		position: relative;

		&-bg {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			&::before {
				content: "";
				display: block;
				position: relative;

				@include ratio(88, 57);
			}
		}
	}

	&__controls {
		position: absolute;
		left: 0.9rem;
		bottom: 1rem;
		height: 10.8rem;
		width: 4.8rem;
		z-index: 5;
	}

	&__button {
		$size: 4.8rem;

		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: $size;
		width: $size;
		margin: 0;
		color: black;
		border-radius: $size;
		background-color: white;
		transition: all $animation-speed;
		cursor: pointer;
		box-shadow: 0 0.4rem 2rem rgba(black, 0.15);

		svg {
			$size: 1.6rem;

			display: block;
			height: $size;
			width: $size;
		}

		path {
			fill: currentColor;
		}

		&_prev {
			left: 0;
			top: 0;
		}

		&_next {
			left: 0;
			bottom: 0;
		}

		// :hover
		&:not(.swiper-button-disabled):hover {
			background-color: $highlight-color--hover;
			color: white;
			box-shadow: 0 4px 20px rgba($highlight-color--hover, 0.15);
		}

		// :active
		&:not(.swiper-button-disabled):active {
			transform: scale(0.9);
		}

		// Disabled
		&.swiper-button-disabled {
			opacity: 0.3;
		}
	}
}
