.pseudo-tabs {
	&__list {
		display: flex;
		align-items: flex-start;
		font-size: 2rem;
		line-height: 2.6rem;

		@include below($lg) {
			font-size: 1.8rem;
			line-height: 2.4rem;
		}

		@include below($sm) {
			font-size: 1.4rem;
			line-height: 1.8rem;
		}
	}

	&__li {
		$li: &;

		text-align: center;
		border-left: 1px solid #dac5b3;

		&:first-child {
			border-left: 0;
		}

		@include below($sm) {
			flex: 1 0 auto;
		}

		&-el {
			$el: &;

			display: block;
			text-decoration: none;
			color: inherit;
			padding: 2.7rem 5.5rem;
			background-color: #f1eeec;
			transition: background-color $animation-speed;

			@include below($lg) {
				padding: 2rem 2.5rem;
			}

			@include below($sm) {
				padding: 1.5rem 1.2rem;
			}

			@at-root {
				#{$li}.current & {
					background-color: #dac5b3;
					cursor: default;
				}
			}

			&.disabled {
				filter: grayscale(1);
				cursor: default;
				pointer-events: none;
				opacity: 0.5;
			}

			&-in {
				box-shadow: 0 0.2rem 0 transparent;
				transition: box-shadow $animation-speed;

				@at-root {
					#{$el}:hover & {
						box-shadow: 0 0.2rem 0 #111;
					}
				}

				@at-root {
					#{$li}.current & {
						box-shadow: 0 0.2rem 0 transparent;
					}
				}
			}
		}
	}
}
