.payment-methods {
	$space-h: 2.8rem;
	$space-v: 0.5rem;

	overflow: hidden;
	font-size: 1.4rem;
	line-height: 1.8rem;

	&_sm {
		@include below($sm) {
			&_inline {
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	&__list {
		margin: -#{$space-v} -#{round-float($space-h / 2, 1)};
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		padding: #{$space-v} #{round-float($space-h / 2, 1)};
	}
}
