.order-list-short {
	&__list {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}

	&__el {
		padding: 0.5rem 0 0.6rem;
		vertical-align: top;

		&_title {
			padding-right: 2rem;
		}

		&_price {
			position: relative;
		}
	}

	&__title {
		font-size: 1.8rem;
		line-height: 2.4rem;

		a {
			text-decoration: none;
			color: inherit;
			transition: color $animation-speed;

			&:hover {
				color: $link-color;
			}
		}
	}

	&__price {
		$space-h: 0.6rem;
		$space-v: 0.3rem;

		font-size: 1.7rem;
		line-height: 2.4rem;
		overflow: hidden;
		text-align: right;

		&-els {
			margin: -#{$space-v} -#{$space-h};
		}

		&-el {
			display: inline-block;
			padding: #{$space-v} #{$space-h};
			white-space: nowrap;

			&_old {
				text-decoration: line-through;
			}

			&_new {
				font-weight: bold;
			}
		}
	}
}
