.features {
	$space-v: 2rem;

	overflow: hidden;

	&__list {
		margin-bottom: -#{$space-v};
		font-size: 1.4rem;
		line-height: 1.7rem;
	}

	&__li {
		margin-bottom: $space-v;
	}

	&__title {
		display: inline-block;
		vertical-align: top;
		font-weight: 300;
	}

	&__descr {
		display: inline-block;
		vertical-align: top;

		&_full-width {
			display: block;
			padding-top: 1rem;
		}
	}
}
