.edit-content {
	$content: &;

	p {
		font-weight: 300;

		a:not([class*=btn-]) {
			color: $link-color;
			word-wrap: break-word;
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;

			&:visited {
				text-decoration: none;
				color: $text-color-muted;
			}

			&:hover {
				text-decoration: none;
				color: $highlight-color--hover;
			}

			&:active {
				text-decoration: none;
				color: $highlight-color--active;
			}
		}
	}

	p,
	.p,
	pre {
		margin-bottom: $bottom-space;

		@include below($md) {
			margin-bottom: $bottom-space_mob;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1,
	.h1 {
		font-weight: bold;
		font-size: 4.2rem;
		line-height: 5rem;
		color: $title-color;
		margin: #{$bottom-space * 1.5} 0 $bottom-space;

		@include below($md) {
			font-size: 2.8rem;
			line-height: 4.2rem;
			margin: #{$bottom-space_mob * 1.5} 0 $bottom-space_mob;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	h2,
	.h2 {
		font-weight: bold;
		font-size: 2.4rem;
		line-height: 3rem;
		color: $title-color;
		margin: #{round-float($bottom-space * 1.69, 1)} 0 #{round-float($bottom-space * 0.71, 1)};

		@include below($md) {
			font-size: 2rem;
			line-height: 2.8rem;
			margin: #{round-float($bottom-space_mob * 1.69, 1)} 0 #{round-float($bottom-space_mob * 0.71, 1)};
		}

		&:first-child {
			margin-top: 0;
		}
	}

	h3,
	.h3 {
		font-weight: bold;
		font-size: 2rem;
		line-height: 2.8rem;
		color: $title-color;
		margin: #{round-float($bottom-space * 1.69, 1)} 0 #{round-float($bottom-space * 0.71, 1)};

		@include below($md) {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin: #{round-float($bottom-space_mob * 1.69, 1)} 0 #{round-float($bottom-space_mob * 0.71, 1)};
		}

		&:first-child {
			margin-top: 0;
		}
	}

	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font-weight: bold;
		font-size: 1.4rem;
		line-height: 2.8rem;
		color: $title-color;
		margin: #{round-float($bottom-space * 1.5, 1)} 0 $bottom-space;
	}

	$list-space: 3rem;

	ul {
		list-style: none;
		margin: 0 0 $bottom-space;
		padding: 0;

		& > li {
			position: relative;
			padding-left: $list-space;
			margin: 0 0 round-float($bottom-space / 2, 1);

			&::before {
				content: "";
				display: block;
				float: left;
				height: 0;
				width: 0;
				margin: 0.8em 0 -0.8em -#{$list-space};
				border: 3px solid $base-color;
				border-radius: 3px;
			}
		}
	}

	ol {
		counter-reset: section;
		list-style: none;
		margin: 0 0 $bottom-space;
		padding: 0;

		& > li {
			padding-left: $list-space;
			margin: 0 0 round-float($bottom-space / 2, 1);
			position: relative;
			counter-increment: section;

			&::before {
				position: relative;
				display: inline-block;
				text-align: left;
				color: $base-color;
				content: counter(section) ".";
				padding: 0 4px 0 0;
				min-width: $list-space;
				margin-left: -#{$list-space};
			}
		}
	}

	ul,
	ol {
		ul,
		ol {
			margin: round-float($bottom-space / 2, 1) 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		display: block;
		margin: 0 0 #{round-float($bottom-space * 1.86, 1)};
		max-width: 100%;
		height: auto;
		text-align: center;
		clear: both;

		@include below($md) {
			margin: #{round-float($bottom-space_mob * 1.25, 1)} auto #{round-float($bottom-space_mob * 1.69, 1)};
		}

		&:first-child {
			margin-top: 0;
		}

		&[align="left"],
		&.imgl {
			float: left;
			clear: left;
			text-align: left;
			max-width: 55%;
			margin: 0 3rem #{$bottom-space} 0;

			@include below($md) {
				float: none;
				max-width: 100%;
				margin: #{round-float($bottom-space_mob * 1.25, 1)} 0 #{round-float($bottom-space_mob * 1.69, 1)};
				text-align: center;
			}
		}

		&[align="right"],
		&.imgr {
			float: right;
			clear: right;
			text-align: right;
			max-width: 55%;
			margin: 0 0 3rem #{round-float($bottom-space * 1.25, 1)};

			@include below($md) {
				float: none;
				max-width: 100%;
				margin: #{round-float($bottom-space_mob * 1.25, 1)} 0 #{round-float($bottom-space_mob * 1.69, 1)};
				text-align: center;
			}
		}
	}

	&__video {
		display: block;
		position: relative;
		margin: #{round-float($bottom-space * 1.25, 1)} 0 #{round-float($bottom-space * 1.69, 1)};

		@include below($md) {
			margin-top: #{round-float($bottom-space_mob * 1.25, 1)};
			margin-bottom: #{round-float($bottom-space_mob * 1.69, 1)};
		}

		&::before {
			content: "";
			display: block;

			@include ratio(16, 9);
		}

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}
}
