.default-form {
	&__heading {
		margin-bottom: 1.9rem;
	}

	&__title {
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 2.4rem;
		color: $title-color;
		margin: 0;
	}

	&__section {
		margin-bottom: 4.4rem;

		&_space-smallest {
			margin-bottom: 2rem;
		}

		&_space-small {
			margin-bottom: 3rem;
		}

		&_space-large {
			margin-bottom: 5rem;
		}

		&_space-largest {
			margin-bottom: 6rem;
		}

		&_align-center {
			text-align: center;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
