.form-def-label {
	display: inline-block; // Need for line-height
	vertical-align: top;
	margin: 0;
	font-family: inherit;
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: bold;
	color: $text-color;
	user-select: none;
	-webkit-tap-highlight-color: transparent !important;

	mark {
		background: none;
		color: $base-color;
	}
}

.form-def-wrap {
	position: relative;
	width: 100%;
}

.form-def {
	$form-def: &;

	display: block;
	position: relative;
	height: $form-def-height;
	width: 100%;
	padding: 0.9rem 1.2rem;
	margin: 0;
	background-color: $form-def-bg-color;
	box-shadow: none;
	border-radius: 0.4rem;
	border: 0.1rem solid $form-def-border-color;
	font-family: inherit;
	font-size: 1.2rem;
	line-height: 2rem;
	color: $form-def-text-color;
	transition: color $animation-speed, border $animation-speed;

	&::-ms-clear,
	&::-ms-reveal {
		display: none;
	}

	&_icon-right {
		padding-right: 4rem;
	}

	// В optimize.scss на input-елементах обнулены закругления через составной селектор
	@at-root {
		#{$form-def},
		input#{$form-def} {
			border-radius: 0;
		}
	}

	// Дополнительные стили для <textarea>
	@at-root {
		textarea#{$form-def} {
			$lh: 2.2rem;
			$space-vertical: 1.8rem;
			$lines: 3;
			$height: calc(#{$lh * $lines + $space-vertical} + 2px);

			min-height: $height;
			height: $height;
			resize: vertical;
		}
	}

	// Placeholder
	// ----------------------------------------------------
	@include input-placeholder {
		color: $form-def-placeholder-color;
		transition: $animation-speed opacity;
	}

	// Placeholder hide on focus
	@include input-placeholder-focus {
		opacity: 0;
	}

	// Hover
	// ----------------------------------------------------
	&:hover {
		border-color: $form-def-border-color--focus;
	}

	// Focus
	// ----------------------------------------------------
	&:focus,
	&.focused {
		border-color: $form-def-border-color--focus;
	}

	// Has value
	// ----------------------------------------------------
	&.filled {
		border-color: $form-def-text-color;
	}

	// Error
	// ----------------------------------------------------
	&.error,
	&.js-confirm-password.confirm-error {
		border-color: $error-color;
	}

	// Success
	// ----------------------------------------------------
	&.js-confirm-password.confirm-success {
		border-color: $success-color;
	}

	// Disabled
	// ----------------------------------------------------
	&[disabled] {
		@include forms-disabled;

		@include input-placeholder {
			color: $form-text-color--disabled !important;
		}
	}
}

// Feedback Message
// ========================

.feedback {
	&-error,
	&-success {
		float: left;
		position: relative;
		width: 100%;
		padding: 0.4rem 0;
		font-size: 1.2rem;
		line-height: 1.4rem;
		letter-spacing: normal;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: none;
	}

	&-error {
		color: $error-color;

		.error ~ & {
			display: block;
		}
	}

	&-success {
		color: $success-color;

		.success ~ & {
			display: block;
		}
	}

	&-error_confirm-password {
		.confirm-error ~ & {
			display: block;
		}
	}

	&-success_confirm-password {
		.confirm-success ~ & {
			display: block;
		}
	}
}
