.popular-slider {
	position: relative;

	html:not(.no-js) &:not(.is-loaded) {
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}

	&__slide {
		position: relative;
	}

	&__controls {
		position: absolute;
		top: 18.4rem;
		height: 0;
		width: 100%;
		z-index: 5;

		&_by-layout-content {
			@include below($lg) {
				top: 15vw;
			}

			@include below($md) {
				top: 22.5vw;
			}

			@include below($sm) {
				top: 42.8vw;
			}
		}

		&-holder {
			position: relative;
			height: 0;
			padding: 0 2rem;
		}
	}

	&__button {
		$size: 4.8rem;

		display: flex;
		align-items: center;
		justify-content: center;
		height: $size;
		width: $size;
		margin-top: -#{round-float($size / 2, 1)};
		color: black;
		border-radius: $size;
		background-color: white;
		transition: background-color $animation-speed, box-shadow $animation-speed, color $animation-speed;
		cursor: pointer;
		box-shadow: 0 0.4rem 2rem rgba(black, 0.15);

		svg {
			$size: 1.6rem;

			display: block;
			height: $size;
			width: $size;
		}

		path {
			fill: currentColor;
		}

		&_prev {
			float: left;
		}

		&_next {
			float: right;
		}

		// :hover
		&:hover {
			background-color: $highlight-color--hover;
			color: white;
			box-shadow: 0 4px 20px rgba($highlight-color--hover, 0.15);
		}

		// :active
		&:active {
			transition-duration: 0s;
			background-color: $highlight-color--active;
			color: white;
			box-shadow: 0 4px 20px rgba($highlight-color--active, 0.15);
		}
	}
}
