$gallery-thumbs-size: 5rem;
$gallery-thumbs-item-space: 1.4rem;
$gallery-thumbs-arrow-size: 4rem 100%;
$gallery-thumbs-height: $gallery-thumbs-size * 5 + $gallery-thumbs-item-space * 4;
$gallery-thumbs-height--sm: $gallery-thumbs-size * 3 + $gallery-thumbs-item-space * 2;
$border-color: #ccc;
$animation-speed: 0.2s;
$base-color: #cab3b1;

.product-card-gallery {
	position: relative;

	html:not(.no-js) &:not(.is-loaded) {
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}

	&__images {
		margin-bottom: 1.6rem;
		background-color: $bg-color-alt;
	}

	&__thumbs {
		position: relative;
	}

	&-images {
		&__item {
			user-select: none;
			outline: none;
		}

		&-el {
			display: block;
			text-decoration: none;
			color: inherit;
			user-select: none;
			outline: none;

			&::before {
				content: "";
				display: block;

				@include ratio(1, 1);
			}

			&__figure {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #cac2bb;
			}
		}

		&__controls {
			display: flex;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: rgba(#000, 0.4);
			z-index: 5;

			&-holder {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;
				padding: 1rem 4.8rem;
				min-height: 4.8rem;
			}
		}

		&__pagination {
			position: relative;
			pointer-events: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			&-bullet {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 2.8rem;
				width: 2.8rem;
				cursor: pointer;
				pointer-events: auto;
				user-select: none;
				-webkit-tap-highlight-color: transparent;

				@include below($lg) {
					margin: 0;
				}

				span {
					position: relative;
					display: block;
					height: 1.2rem;
					width: 1.2rem;
					border-radius: 1.2rem;
					background-color: #fff;
					transition: all $animation-speed;
					z-index: 5;
				}

				// Active
				&_active {
					span {
						background-color: #000;
					}
				}

				// :hover
				&:hover {
					span {
						background-color: #000;
					}
				}

				// :active
				&:active {
					span {
						box-shadow: 0 0 0 0.4rem rgba(#fff, 0.3);
					}
				}
			}
		}

		&__zoom {
			$size: 4rem;

			height: $size;
			width: $size;
			position: absolute;
			top: 50%;
			right: 0.7rem;
			margin-top: -#{floor-float($size / 2, 1)};
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2.4rem;
			line-height: 1;
			cursor: pointer;
			transition: transform 0.1s;
			user-select: none;
			-webkit-tap-highlight-color: transparent;

			&:active {
				transform: scale(0.9);
			}
		}
	}

	&-thumbs {
		.swiper-container {
			align-items: center;
		}

		&__item.swiper-slide {
			$size: 11.6rem;

			position: relative;
			cursor: pointer;
			width: $size;
			height: $size;
			user-select: none;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: #cac2bb;

			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: $animation-speed opacity;
				border: 5px solid $base-color;
			}

			&.swiper-slide-thumb-active {
				&::after {
					opacity: 1;
				}
			}
		}

		&__button {
			$size: 4rem;

			position: absolute;
			z-index: 10;
			top: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: $size;
			width: $size;
			margin-top: -#{round-float($size / 2, 1)};
			color: black;
			border-radius: $size;
			background-color: white;
			transition: background-color $animation-speed, color $animation-speed, transform 0.1s;
			cursor: pointer;
			box-shadow: 0 0.4rem 2rem rgba(black, 0.15);
			user-select: none;
			-webkit-tap-highlight-color: transparent;

			svg {
				$size: 1.6rem;

				display: block;
				height: $size;
				width: $size;
			}

			path {
				fill: currentColor;
			}

			&_prev {
				left: 1rem;
			}

			&_next {
				right: 1rem;
			}

			// :hover
			&:not(.swiper-button-disabled):hover {
				background-color: $highlight-color--hover;
				color: white;
				box-shadow: 0 4px 20px rgba($highlight-color--hover, 0.15);
			}

			// :active
			&:not(.swiper-button-disabled):active {
				transform: scale(0.9);
			}

			// Disabled
			&.swiper-button-disabled {
				opacity: 0.3;
			}
		}
	}
}

.fancybox-gallery {
	.fancybox-bg {
		background-color: black;
	}

	&.fancybox-is-open .fancybox-bg {
		opacity: 0.6;
	}
}
