.page-news-one {
	padding: 2rem 0 0;

	&__breadcrumbs {
		margin-bottom: 2rem;
	}

	&__heading {
		margin-bottom: 3rem;
	}

	&__title {
		font-weight: bold;
		font-size: 4.2rem;
		line-height: 5rem;
	}

	&__content {
		margin-bottom: 6rem;
	}

	&__layout {
		$space-h: 9.8rem;

		display: flex;
		align-items: flex-start;
		margin: 0 -#{round-float($space-h / 2, 1)};

		&-content {
			flex: 1 0;
			padding: 0 #{round-float($space-h / 2, 1)};
		}

		&-aside {
			$width: 35%;

			flex: 1 0 $width;
			max-width: $width;
			padding: 0 #{round-float($space-h / 2, 1)};
		}
	}
}
