.form-unit-inline {
	&__label,
	&__input {
		display: inline-block;
		vertical-align: top;
		font: inherit;
	}

	&__label {
		margin-right: 0.8rem;

		label {
			font: inherit;
		}
	}

	&__input {
		min-width: 4rem;
	}
}
