.cart {
	$width-main: 57.2%;
	$space-h: 3.8rem;
	$padding-top: 14rem;

	overflow: hidden;
	position: relative;
	margin-top: -$padding-top;
	z-index: 1;

	&__layout {
		display: flex;
		align-items: flex-end;
	}

	&__main {
		$width: $width-main;

		flex: 1 0 $width;
		max-width: $width;
		padding: #{$padding-top} 1.8rem 3.4rem 0;
		min-height: 1rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -40rem;
			bottom: 0;
			right: 0;
			width: 999rem;
			display: block;
			background-color: $bg-color-alt;
			z-index: -1;
		}
	}

	&__contain {
		max-height: 47.6rem;
	}

	&__products {
		overflow: hidden;
		padding-right: 4rem;
	}

	&__aside {
		$width: 100% - $width-main;

		flex: 1 0 $width;
		max-width: $width;
		padding: #{$padding-top} 0 3.4rem #{$space-h};
		min-height: 1rem;

		&-section {
			margin-bottom: 4.4rem;

			&_space-large {
				margin-bottom: 5.1rem;
			}

			&_last,
			&_no-space,
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			font-size: 1.8rem;
			line-height: 2.4rem;
			color: inherit;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		&-text {
			font-size: 1.4rem;
			line-height: 2rem;
			color: inherit;
		}
	}

	&__title {
		font-size: 2.4rem;
		line-height: 3rem;
		margin: 0;
	}
}
