.page-cabinet {
	padding: 2rem 0 10.2rem;

	&__breadcrumbs {
		margin-bottom: 2rem;
	}

	&__heading {
		margin-bottom: 3rem;
	}

	&__title {
		font-weight: bold;
		font-size: 4.2rem;
		line-height: 5rem;
	}

	&__nav {
		margin-bottom: 8.4rem;
	}

	&__content {
		margin-bottom: 6rem;
	}

	&__section {
		margin-bottom: 7.4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__pagination {
		margin-bottom: 6rem;

		&_center {
			text-align: center;
		}
	}
}
