$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;
$xxxl: 1600px;

// Colors
// ====================================================
$base-color: #cab3b1 !default;
$base-color-alt: #f8f6f3 !default;
// ----------------------------------------------------
$link-color: #cab3b1 !default;
$focus-color: #1279c5 !default;
$success-color: #28a745 !default;
$error-color: #dc3545 !default;
$info-color: #17a2b8 !default;
$warning-color: #ffc107 !default;
// ----------------------------------------------------
$base-gradient-color-start: $base-color !default;
$base-gradient-color-end: #1caade !default;
// ----------------------------------------------------
$highlight-color: #cab3b1 !default;
$highlight-color--hover: #a58f8e !default;
$highlight-color--active: #d6c1c0 !default;
// ----------------------------------------------------
$bg-color: #fff !default;
$bg-color-alt: #f1eeec !default;
// ----------------------------------------------------
$text-color: #000 !default;
$text-color-muted: #5a5f6a !default;
$text-color-light: #9ea2a2 !default;
// ----------------------------------------------------
$title-color: #000 !default;
$title-color-alt: #2f343d !default;
// ----------------------------------------------------
$border-color: #ccc !default;
// ----------------------------------------------------
$mark-color: $info-color !default;

// Layout page
// ====================================================
// Minimal width of site
$layout-page-min-width: 32rem !default;
// Maximal width of site
$layout-page-max-width: 179.2rem + 3rem * 2 !default;
// Maximal width wrapper
$layout-max-wrap: 192rem !default;
// Spaces of site
$layout-page-space: 3rem !default;
$layout-page-space_md: 2.5rem !default; // below $xxs
$layout-page-space_sm: 1.6rem !default; // below $md

// Layout content
// ====================================================
// Maximal width of content
$layout-content-max-width: 114.6rem !default;

// Maximal width of forms
$layout-form-max-width: 68.6rem !default;

// Grid layout
// ====================================================
$grid-space: 3rem !default;

// Content
// ====================================================
$bottom-space: 2.8rem;
$bottom-space_mob: 2.4rem;

// Header
// ====================================================
$header-height_sm: 6.4rem !default;

// Animation
// ====================================================
$animation-speed: 0.35s !default;

// Form elements colors scheme
// ====================================================
$form-def-text-color: $text-color !default;
$form-def-placeholder-color: #828282 !default;
$form-def-bg-color: #fff !default;
$form-def-border-color: #bdbdbd !default;
$form-def-border-color--focus: #6f6f6f !default;
$form-error-color: $error-color !default;
$form-text-color--disabled: #ced4da !default;
$form-bg-color--disabled: #e9ecef !default;
$form-border-color--disabled: #ced4da !default;

// Form elements disabled
// ====================================================
@mixin forms-disabled {
	cursor: default;
	color: $form-text-color--disabled;
	background-color: $form-bg-color--disabled;
	border-color: $form-border-color--disabled;
	box-shadow: none;
}
