.filters {
	$space-v: 1.2rem;
	$arrow-space: 2.4rem;

	display: block;
	position: relative;
	font-size: 1.6rem;
	line-height: 2.4rem;

	&__list {
		display: block;
	}

	&__li {
		$li: &;

		position: relative;
		padding-bottom: 2rem;

		&:last-child {
			padding-bottom: 0;
		}

		&.has-drop:not(.hide-arrow) {
			padding-right: $arrow-space;
		}

		&-el {
			$el: &;

			display: block;
			position: relative;
			font-weight: bold;
			text-transform: uppercase;
			color: inherit;
			user-select: none;

			@at-root {
				// if link
				a#{$el} {
					text-decoration: none;
					transition: color $animation-speed;

					&:hover {
						color: $link-color;
					}
				}
			}

			&-in {
				display: inline-block;
				vertical-align: top;
			}
		}

		&-arrow {
			$size: 3.2rem;

			position: absolute;
			right: -0.8rem;
			top: 0.1rem;
			height: $size;
			width: $size;
			font-size: 0;
			line-height: 0;
			border-radius: $size;
			cursor: pointer;
			transition: background-color $animation-speed;

			&:hover {
				background-color: $highlight-color;
			}

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 50%;
				top: 50%;
				height: 0.2rem;
				width: 1rem;
				margin: -0.1rem -0.5rem;
				background: #000;
				transition: transform $animation-speed;
			}

			&::after {
				transform: rotate(0.25turn);
			}

			@at-root {
				#{$li}.is-open & {
					&::after {
						transform: rotate(0);
					}
				}
			}
		}

		&-drop {
			padding: 0.9rem 0 0;

			@at-root {
				#{$li}.has-drop:not(.hide-arrow) & {
					margin-right: -#{$arrow-space};
				}
			}

			@at-root {
				#{$li}.current & {
					display: block;
				}
			}
		}
	}
}

.sub-filters {
	$space-v: 1.2rem;
	$arrow-space: 2.4rem;

	display: block;
	font-size: 1.6rem;
	line-height: 2.4rem;

	&__list {
		display: block;
	}

	&__li {
		$li: &;

		position: relative;

		&.has-drop:not(.hide-arrow) {
			padding-right: $arrow-space;
		}

		&-el {
			$el: &;

			display: block;
			position: relative;
			font-weight: 300;
			color: inherit;
			user-select: none;
			padding: 0.5rem 0;

			@at-root {
				// if link
				a#{$el} {
					text-decoration: none;
					transition: color $animation-speed;

					&:hover {
						color: $link-color;
					}
				}

				#{$li}.is-open & {
					color: inherit;
					cursor: default;
				}

				#{$li}.current & {
					font-weight: bold;
				}
			}

			&-in {
				display: inline-block;
				vertical-align: top;
			}
		}

		&-arrow {
			$size: 3.2rem;

			position: absolute;
			right: -0.8rem;
			top: 0.1rem;
			height: $size;
			width: $size;
			font-size: 0;
			line-height: 0;
			border-radius: $size;
			cursor: pointer;
			transition: background-color $animation-speed;

			&:hover {
				background-color: $highlight-color;
			}

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 50%;
				top: 50%;
				height: 0.2rem;
				width: 1rem;
				margin: -0.1rem -0.5rem;
				background: #000;
				transition: transform $animation-speed;
			}

			&::after {
				transform: rotate(0.25turn);
			}

			@at-root {
				#{$li}.is-open & {
					&::after {
						transform: rotate(0);
					}
				}
			}
		}

		&-drop {
			display: none;
			padding: 0.4rem 0 0;

			@at-root {
				#{$li}.has-drop:not(.hide-arrow) & {
					margin-right: -#{$arrow-space};
				}
			}

			@at-root {
				#{$li}.current & {
					display: block;
				}
			}
		}
	}
}

.sub-sub-filters {
	$space-v: 1.2rem;
	$arrow-space: 2.4rem;

	display: block;
	font-size: 1.4rem;
	line-height: 2rem;

	&__list {
		display: block;
	}

	&__li {
		$li: &;

		position: relative;

		&.has-drop:not(.hide-arrow) {
			padding-right: $arrow-space;
		}

		&-el {
			$el: &;

			display: block;
			position: relative;
			font-weight: 300;
			color: inherit;
			user-select: none;
			padding: 0.5rem 0 0.5rem 1.7rem;

			@at-root {
				// if link
				a#{$el} {
					text-decoration: none;
					transition: color $animation-speed;

					&:hover {
						color: $link-color;
					}
				}

				#{$li}.is-open & {
					color: inherit;
					cursor: default;
				}

				#{$li}.current & {
					font-weight: bold;
				}
			}

			&-in {
				display: inline-block;
				vertical-align: top;
			}
		}

		&-arrow {
			$size: 3.2rem;

			position: absolute;
			right: -0.8rem;
			top: -0.1rem;
			height: $size;
			width: $size;
			font-size: 0;
			line-height: 0;
			border-radius: $size;
			cursor: pointer;
			transition: background-color $animation-speed;

			&:hover {
				background-color: $highlight-color;
			}

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 50%;
				top: 50%;
				height: 0.2rem;
				width: 1rem;
				margin: -0.1rem -0.5rem;
				background: #000;
				transition: transform $animation-speed;
			}

			&::after {
				transform: rotate(0.25turn);
			}

			@at-root {
				#{$li}.is-open & {
					&::after {
						transform: rotate(0);
					}
				}
			}
		}

		&-drop {
			display: none;

			@at-root {
				#{$li}.has-drop:not(.hide-arrow) & {
					margin-right: -#{$arrow-space};
				}
			}

			@at-root {
				#{$li}.current & {
					display: block;
				}
			}
		}
	}

	&__set {
		position: relative;
		padding: 2.5rem 1.5rem;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 0;
			border-top: 1px solid #000;
		}

		&::before {
			top: 0.9rem;
		}

		&::after {
			bottom: 0.9rem;
		}
	}
}
