.order-history {
	$space-v: 4.5rem;
	$space-v_lg: 3rem;

	overflow: hidden;

	&__list {
		display: block;
	}

	&__item {
		margin-bottom: $space-v;
		border-bottom: 1px solid #000;

		@include below($lg) {
			margin-bottom: $space-v_lg;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
