.checkout {
	display: block;

	&__form {
		display: block;
	}

	&__body {
		margin-bottom: 4.4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__section {
		margin-bottom: 6rem;

		&_space-smallest {
			margin-bottom: 3rem;
		}

		&_space-small {
			margin-bottom: 4rem;
		}

		&_space-large {
			margin-bottom: 8rem;
		}

		&_space-largest {
			margin-bottom: 10rem;
		}

		&_align-center {
			text-align: center;
		}

		&_align-right {
			text-align: right;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__divider {
		border-bottom: 1px solid $border-color;
		margin-bottom: 6rem;

		@include clearfix;

		&_space-smallest {
			margin-bottom: 3rem;
		}

		&_space-small {
			margin-bottom: 4rem;
		}

		&_space-large {
			margin-bottom: 8rem;
		}

		&_space-largest {
			margin-bottom: 10rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
