.checkout {
	display: block;

	&__form {
		display: block;
	}

	&__body {
		margin-bottom: 4.4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__section {
		margin-bottom: 6rem;

		&_space-smallest {
			margin-bottom: 3rem;
		}

		&_space-small {
			margin-bottom: 4rem;
		}

		&_space-large {
			margin-bottom: 8rem;
		}

		&_space-largest {
			margin-bottom: 10rem;
		}

		&_align-center {
			text-align: center;
		}

		&_align-right {
			text-align: right;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&_card {
			display: none;
		}
	}

	&__cols {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		&-col {
			$left-col-width: 42.86%;

			&:nth-child(1) {
				$width: $left-col-width;

				flex: 1 0 $width;
				max-width: $width;
				padding-right: 3rem;
			}

			&:nth-child(2) {
				$width: 100% - $left-col-width;

				flex: 1 0 $width;
				max-width: $width;
			}
		}
	}

	&__divider {
		border-bottom: 1px solid $border-color;
		margin-bottom: 6rem;

		@include clearfix;

		&_space-smallest {
			margin-bottom: 3rem;
		}

		&_space-small {
			margin-bottom: 4rem;
		}

		&_space-large {
			margin-bottom: 8rem;
		}

		&_space-largest {
			margin-bottom: 10rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__btn-pay {
		display: none;
	}

	&__feedback-success {
		position: relative;
		padding-left: 3rem;
		margin-top: 2rem;
		font-weight: normal;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: rgba(#000, 0.7);
		text-align: left;

		&::before {
			$size: 2.4rem;

			content: "";
			display: block;
			position: absolute;
			left: -0.4rem;
			top: -0.2rem;
			height: 2.4rem;
			width: 2.4rem;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMDAwNyAxNS4xNzJMMTkuMTkyNyA1Ljk3OUwyMC42MDc3IDcuMzkzTDEwLjAwMDcgMThMMy42MzY3MiAxMS42MzZMNS4wNTA3MiAxMC4yMjJMMTAuMDAwNyAxNS4xNzJaIiBmaWxsPSJibGFjayIvPjwvc3ZnPg==);
			background-size: contain;
		}
	}
}
