.page {
	padding-bottom: 6rem;

	@include below($md) {
		padding-bottom: 4rem;
	}

	&__breadcrumbs {
		position: relative;
		z-index: 2;
		padding-top: 1.7rem;
		margin-bottom: 2.2rem;
		line-height: 1;

		@include below($md) {
			padding-top: 1.5rem;
			margin-bottom: 2rem;
		}
	}

	&__heading {
		position: relative;
		z-index: 2;
		margin-bottom: 2.7rem;

		@include below($md) {
			margin-bottom: 2rem;
		}

		&_space-large {
			margin-bottom: 5.7rem;

			@include below($md) {
				margin-bottom: 4rem;
			}
		}
	}

	&__section {
		margin-bottom: 6rem;

		@include below($md) {
			margin-bottom: 4rem;
		}

		&_space-smallest {
			margin-bottom: 2.8rem;

			@include below($md) {
				margin-bottom: 2rem;
			}
		}

		&_space-small {
			margin-bottom: 3.5rem;

			@include below($md) {
				margin-bottom: 3rem;
			}
		}

		&_space-large {
			margin-bottom: 8rem;

			@include below($md) {
				margin-bottom: 6rem;
			}
		}

		&_space-largest {
			margin-bottom: 10rem;

			@include below($md) {
				margin-bottom: 7rem;
			}
		}

		&_align-center {
			text-align: center;
		}

		&_indented {
			$intend: -32.2rem;
			$intend_hd: -20rem;
			$intend_xxxl: -8rem;
			$intend_xxl: 0;

			&-left {
				margin-left: $intend;

				@include below($hd) {
					margin-left: $intend_hd;
				}

				@include below($xxxl) {
					margin-left: $intend_xxxl;
				}

				@include below($xxl) {
					margin-left: $intend_xxl;
				}
			}

			&-right {
				margin-right: $intend;

				@include below($hd) {
					margin-right: $intend_hd;
				}

				@include below($xxxl) {
					margin-right: $intend_xxxl;
				}

				@include below($xxl) {
					margin-right: $intend_xxl;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
