.page {
	padding-bottom: 6rem;

	&__breadcrumbs {
		position: relative;
		z-index: 2;
		padding: 1.7rem 0 0;
		margin-bottom: 2.2rem;
		line-height: 1;
	}

	&__heading {
		position: relative;
		z-index: 2;
		margin-bottom: 2.7rem;

		&_space-large {
			margin-bottom: 5.7rem;
		}
	}

	&__section {
		margin-bottom: 6rem;

		&_space-smallest {
			margin-bottom: 2.8rem;
		}

		&_space-small {
			margin-bottom: 3.5rem;
		}

		&_space-large {
			margin-bottom: 8rem;
		}

		&_space-largest {
			margin-bottom: 10rem;
		}

		&_align-center {
			text-align: center;
		}

		&_indented {
			&-left {
				margin-left: -32.2rem;
			}

			&-right {
				margin-right: -32.2rem;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
