.page {
	padding-bottom: 6rem;

	&__breadcrumbs {
		position: relative;
		z-index: 2;
		padding: 2rem 0 0;
		margin-bottom: 2rem;
	}

	&__heading {
		margin-bottom: 3rem;
	}

	&__control-panel {
		margin-bottom: 3rem;
	}

	&__title {
		font-weight: bold;
		font-size: 4.2rem;
		line-height: 5rem;
	}

	&__content {
		margin-bottom: 6rem;
	}

	&__section {
		margin-bottom: 4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
