.page-contacts {
	position: relative;

	&__content {
		width: 50%;
		padding-right: 8.7%;
		padding-bottom: 9.4rem;

		@include below($lg) {
			padding-bottom: 6rem;
		}

		@include below($md) {
			width: auto;
			padding: 0 0 4rem;
		}
	}

	&__breadcrumbs {
		margin-bottom: 2rem;
		padding: 2rem 0 0;
	}

	&__heading {
		margin-bottom: 2.9rem;

		@include below($md) {
			margin-bottom: 2rem;
		}

		&-title {
			font-weight: bold;
			font-size: 4.2rem;
			line-height: 5rem;

			@include below($md) {
				font-size: 2.8rem;
				line-height: 4.2rem;
			}
		}
	}

	&__entry {
		margin-bottom: 4rem;

		@include below($md) {
			margin-bottom: 2rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__section {
		margin-bottom: 2.6rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__map {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;

		@include below($md) {
			position: relative;
			right: auto;
			top: auto;
			width: auto;
			height: 32rem;
		}
	}
}
