.news-slider {
	position: relative;

	html:not(.no-js) &:not(.is-loaded) {
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}

	&__slide {
		position: relative;
	}

	&__controls {
		position: absolute;
		top: 15.6rem;
		height: 0;
		width: 100%;
		z-index: 5;

		&_vertical-middle {
			@include below($lg) {
				top: 12.2vw;
			}

			@include below($md) {
				top: 19.7vw;
			}

			@include below($sm) {
				top: 40vw;
			}
		}

		&-holder {
			position: relative;
			height: 0;
			padding: 0 2rem;
		}
	}

	&__button {
		$size: 4.8rem;

		display: flex;
		align-items: center;
		justify-content: center;
		height: $size;
		width: $size;
		margin-top: -#{round-float($size / 2, 1)};
		color: black;
		border-radius: $size;
		background-color: white;
		transition: all $animation-speed;
		cursor: pointer;
		box-shadow: 0 0.4rem 2rem rgba(black, 0.15);

		svg {
			$size: 1.6rem;

			display: block;
			height: $size;
			width: $size;
		}

		path {
			fill: currentColor;
		}

		&_prev {
			float: left;
		}

		&_next {
			float: right;
		}

		// :hover
		&:not(.swiper-button-disabled):hover {
			background-color: $highlight-color--hover;
			color: white;
			box-shadow: 0 4px 20px rgba($highlight-color--hover, 0.15);
		}

		// :active
		&:not(.swiper-button-disabled):active {
			transform: scale(0.9);
		}

		// Disabled
		&.swiper-button-disabled {
			opacity: 0.3;
		}
	}
}
