.btn-def {
	$btn: &;

	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	min-width: 20rem;
	margin: 0;
	padding: 1.4rem 2rem 1rem;
	font-family: inherit;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: white;
	text-decoration: none;
	text-align: center;
	border: 0.1rem solid black;
	background-color: black;
	box-shadow: none;
	transition: background-color $animation-speed, border-color $animation-speed, color $animation-speed, opacity $animation-speed, box-shadow 0.1s;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	@at-root {
		#{$btn},
		input#{$btn} {
			border-radius: 0;
		}
	}

	&_small {
		padding-top: 0.9rem;
		padding-bottom: 0.5rem;
		min-width: 16rem;

		@include below($sm) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	&_full-width {
		display: block;
		min-width: 0;
		width: 100%;
	}

	// For small screen
	&_sm {
		@include below($sm) {
			&-full-width {
				display: block;
				width: 100%;
			}

			&-no-min-width {
				min-width: 0;
			}
		}
	}

	span {
		display: block;
		position: relative;
	}

	&:hover {
		color: black;
		background-color: white;
	}

	&_invert {
		border-color: #000;
		color: #000;
		background: none;

		&:hover {
			color: white;
			background-color: black;
		}
	}

	&:active {
		box-shadow: 0 0 0 0.4rem #c4c4c4;
	}
}
