.js-simplebar {
	overflow: hidden;

	&[data-simplebar="init"] {
		overflow: visible;
	}

	.no-js & {
		overflow: auto;
	}
}

.simplebar-track {
	border-radius: 5px;
	background-color: rgba(black, 0.2);

	&.simplebar-vertical {
		width: 5px;
	}

	&.simplebar-horizontal {
		height: 5px;
	}
}

.simplebar-scrollbar {
	&::before {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 5px;

		.simplebar-track.simplebar-vertical & {
			top: 0;
			bottom: 0;
		}

		.simplebar-track.simplebar-horizontal & {
			left: 0;
			right: 0;
		}
	}
}

.widget-order-history .simplebar-track.simplebar-vertical {
	bottom: 2rem;
}
