.services {
	$space-h: 3rem;
	$space-v: 3rem;
	$space-h_lg: 2rem;
	$space-v_lg: 3rem;

	overflow: hidden;

	&__list {
		margin: 0 -#{round-float($space-h / 2, 1)} -#{$space-v};
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		@include below($lg) {
			margin: 0 -#{round-float($space-h_lg / 2, 1)} -#{$space-v_lg};
		}

		@include below($sm) {
			display: block;
		}
	}

	&__item {
		$width: 25%;

		flex: 1 0 #{$width};
		max-width: $width;
		padding: 0 #{round-float($space-h / 2, 1)} #{$space-v};

		@include below($lg) {
			$width: 50%;

			flex: 1 0 #{$width};
			max-width: $width;
			padding: 0 #{round-float($space-h_lg / 2, 1)} #{$space-v_lg};
		}

		@include below($sm) {
			max-width: none;
		}
	}
}
