.btn-alt {
	$btn: &;

	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	min-width: 21.7rem;
	margin: 0;
	padding: 1.4rem 2rem 1rem;
	font-family: inherit;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: black;
	text-decoration: none;
	text-align: center;
	border: 0.1rem solid $highlight-color;
	background-color: $highlight-color;
	box-shadow: none;
	transition: background-color $animation-speed, border-color $animation-speed, color $animation-speed, opacity $animation-speed, box-shadow 0.1s;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	@at-root {
		#{$btn},
		input#{$btn} {
			border-radius: 0;
		}
	}

	&_small {
		padding-top: 0.9rem;
		padding-bottom: 0.9rem;
		min-width: 16.6rem;
		font-size: 1.4rem;
		line-height: 2rem;

		@include below($sm) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	&_full-width {
		display: block;
		min-width: 0;
		width: 100%;
	}

	&_sm {
		@include below($sm) {
			&-full-width {
				display: block;
				width: 100%;
			}

			&-no-min-width {
				min-width: 0;
			}
		}
	}

	span {
		display: block;
		position: relative;
	}

	&:hover {
		color: $highlight-color;
		background-color: white;
	}

	&:active {
		opacity: 0.7;
	}
}
