.form-unit {
	&__label {
		margin-bottom: 0.5rem;
	}

	&__input {
		$input: &;

		position: relative;

		&-icon {
			position: absolute;
			right: 0;
			top: 0;
			height: 4rem;
			width: 4rem;
			text-decoration: none;
			color: $text-color-light;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 5;

			&_no-events {
				pointer-events: none;
			}
		}
	}

	&__feedback {
		position: relative;
	}

	&__note {
		position: relative;
		padding-top: 0.7rem;
		font-size: 1.2rem;
		line-height: 1.4rem;
		color: #4f4f4f;

		a {
			text-decoration: none;
			color: inherit;
			transition: color $animation-speed;

			&:hover {
				color: $link-color;
			}
		}
	}
}
