.form-grid {
	$space-h: 9.8rem;
	$space-grid-h: 2.2rem;
	$space-v: 2.6rem;
	$space-v__small: 1.6rem;

	overflow: hidden; // Cut horizontal negative intends

	&__row {
		display: flex;
		align-items: flex-start;
		margin: 0 -#{round-float($space-h / 2, 1)} #{$space-v};

		&_last,
		&:last-child {
			margin-bottom: -#{$space-v}; // Compensate last bottom space
		}

		&_space-small {
			margin-bottom: #{$space-v__small};

			&_last,
			&:last-child {
				margin-bottom: -#{$space-v__small}; // Compensate last bottom space
			}
		}
	}

	&__col {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end; // Vertical align inputs if label's heights are different
		flex: 1 0 100%;
		max-width: 100%;
		padding: 0 #{round-float(($space-h - $space-grid-h) / 2, 1)};

		@for $i from 1 through 12 {
			&_#{$i} {
				$width: floor-float(100% / 12 * $i, 2);

				flex-basis: $width;
				max-width: $width;
			}
		}
	}

	&__field {
		position: relative;
		flex: 1 0 100%;
		max-width: 100%;
		margin-bottom: 2.6rem;
		padding: 0 #{round-float($space-grid-h / 2, 1)};

		@for $i from 1 through 12 {
			&_#{$i} {
				$width: floor-float(100% / 12 * $i, 2);

				flex-basis: $width;
				max-width: $width;
			}
		}

		&_space-small {
			margin-bottom: #{$space-v__small};
		}
	}
}
