.product-card {
	$width-main: 51.31%;
	$space-h: 9.8rem;

	@include clearfix;

	&__main {
		float: left;
		clear: left;
		width: $width-main;
		min-height: 1rem;
	}

	&__heading {
		float: right;
		clear: right;
		width: 100% - $width-main;
		padding-left: $space-h;
		min-height: 1rem;
		margin-bottom: 1.7rem;
	}

	&__aside {
		float: right;
		clear: right;
		width: 100% - $width-main;
		padding-left: $space-h;
		min-height: 1rem;

		&-section {
			margin-bottom: 2rem;

			&_space-large {
				margin-bottom: 3.8rem;
			}

			&_last,
			&_no-space,
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			font-size: 1.8rem;
			line-height: 2.4rem;
			color: inherit;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		&-text {
			font-size: 1.4rem;
			line-height: 2rem;
			color: inherit;
		}
	}

	&__title {
		font-size: 2.4rem;
		line-height: 3rem;
		margin: 0;
	}
}
